[submodule "PHPExel"]
	path = PHPExel
	url = git://github.com/PHPOffice/PHPExcel
[submodule "google-api-php-client"]
	path = google-api-php-client
	url = git://github.com/google/google-api-php-client
