[submodule "google-api-php-client"]
	path = google-api-php-client
	url = git://github.com/google/google-api-php-client
[submodule "PHPExcel"]
	path = PHPExcel
	url = git://github.com/PHPOffice/PHPExcel
